<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <%- new Date().getFullYear(); %> © <%=process.env.PROJECT_NAME%>.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Glasierinc
                </div>
            </div>
        </div>
    </div>
</footer>