<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards"><%=translation.Dashboard%></span>
                    </a>
                </li>
                <li>
                    <a href="/propertys" class="waves-effect"><i class="bx bx-layout"></i><span key="t-file-manager">Propertys</span></a>
                </li>

                <li>
                    <a href="/categorys" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">Categorys</span></a>
                </li>

                <li>
                    <a href="/users" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">Users</span></a>
                </li>

                <li>
                    <a href="/task" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">Task</span></a>
                </li>

                <li>
                    <a href="/manage-rating" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">Manage Rating</span></a>
                </li>

                <li>
                    <a href="/ppm" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">PPM</span></a>
                </li>

                <li>
                    <a href="/sop" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">SOP</span></a>
                </li>

                <li>
                    <a href="/history" class="waves-effect"><i class="bx bx-layout"></i><span key="t-invoices">History</span></a>
                </li>

                <li>
                    <a href="/" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">Setting</span></a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->